@model Postermania.Controllers.HomeView

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Postermania</h1>
    <p class="lead">Donde puedes obtener todos los posters que siempre has querido</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Posters</h2>
        <div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var poster in Model.Posters)
                {
                    <div class="carousel-item active">
                        <img src="/Posters/RetrieveImage/@poster.ID" class="d-block w-100" alt="...">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <p>@Html.ActionLink("Ver mas", "Show", "Posters", new { posterType = Postermania.Models.ItemType.Poster }, new { @class = "btn btn-primary mt-3" })</p>
    </div>

    <div class="col-md-4">
        <h2>Scrolls</h2>
        <div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var scroll in Model.Scrolls)
                {
                    <div class="carousel-item active">
                        <img src="/Posters/RetrieveImage/@scroll.ID" class="d-block w-100" alt="...">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <p>@Html.ActionLink("Ver mas", "Show", "Posters", new { posterType = Postermania.Models.ItemType.Scroll }, new { @class = "btn btn-primary mt-3" })</p>
    </div>

    <div class="col-md-4">
        <h2>Frames</h2>
        <div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel">
            <div class="carousel-inner">
                @foreach (var framed in Model.Frameds)
                {
                    <div class="carousel-item active">
                        <img src="/Posters/RetrieveImage/@framed.ID" class="d-block w-100" alt="...">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <p>@Html.ActionLink("Ver mas", "Show", "Posters", new { posterType = Postermania.Models.ItemType.Framed }, new { @class = "btn btn-primary mt-3" })</p>
    </div>
</div>